
&i2c1 {
        status = "disabled";
};

&i3c1 {
	pinctrl-0 = <&i3c1_scl_pb6 &i3c1_sda_pb7>;
	pinctrl-names = "default";
        i3c-scl-hz = <12500000>;
        i2c-scl-hz = <I2C_BITRATE_FAST_PLUS>;
	status = "okay";
};
